extends ../layout

block content
  .page-header
    h3 Signature Verification
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='/verification', value=notification._id)
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='pin') Account Pin (4 Digits)
      .col-sm-7
        input.form-control(type='password', name='pin', id='pin', placeholder='0000')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Confirm
