extends layout

block content
  h1 Contacts IO
  p.lead Admin Panel
  hr
  .row
    .col-sm-6
      h2 Transactions
      p Transaction routers, controllers, models
      p
        a.btn.btn-default(href='/transaction', role='button') View transactions »
        a.btn.btn-default(href='/transaction/new', role='button') New transaction »
    .col-sm-6
      h2 Wallets
      p Wallet routers, controllers, models
      p
        a.btn.btn-default(href='/wallet', role='button') View wallets »
