extends ../layout

block content
  .page-header
    h3 Create Transaction

  form.form-horizontal(action='/transaction', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='multiSignature') Type
      .col-sm-4
        label.radio.col-sm-4
          input(type='radio', checked=type=='request', name='type', value='request', data-toggle='radio')
          span Request
        label.radio.col-sm-4
          input(type='radio', checked=type=='receive', name='type', value='receive', data-toggle='radio')
          span Receive
    .form-group
      label.col-sm-3.control-label(for='sender') Username/Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', value='')
    .form-group
      label.col-sm-3.control-label(for='value') Amount
      .col-sm-7
        input.form-control(type='text', name='value', id='value', value='')
    .form-group
      label.col-sm-3.control-label(for='multiSignature') Multi-Signature
      .col-sm-4
        label.radio.col-sm-4
          input(type='radio', checked=multiSignature=='true', name='multiSignature', value='true', data-toggle='radio')
          span True

    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencilr
          | Create Transaction
